
page {
  height: 100vh;
  background-color: #efefef !important;
}

// 轮播图区域样式
.swiper {
  swiper {
    height: 360rpx;
    // background-color: skyblue;

    swiper-item {

      image {
        width: 100%;
        height: 100%;
      }

      // & 在 Sass 中代表的是父选择器，引用的意思
      // swiper-item:first-child
      // &:first-child {
      //   background-color: lightsalmon;
      // }

      // &:last-child {
      //   background-color: lightseagreen;
      // }
    }
  }
}
